<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Ajuda</title>
    <link rel="stylesheet" href="/public/css/ajuda.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/all.min.css" />
</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <i class="fa fa-car"></i>
                <h2>WebScraping</h2>
            </div><!--logo-->
            <div class="menu">
                <a class="btn-menu" href="/">
                    Menu  
                </a>

                <a href="/cadastro">
                    Entrar  
                </a>
                <a href="/ajuda">
                    Ajuda  
                </a>
                <a href="/sobre">
                    Sobre  
                </a>
            </div><!--menu-->
        </div> <!--center-->
    </header>

    <section class="main">
        <h2>Ajuda</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit metus dictumst pulvinar duis, platea cubilia cursus eros nam egestas rutrum libero nullam tincidunt, dui proin placerat turpis taciti fringilla leo habitant vivamus nascetur. Habitant nisl orci pharetra ut netus mus laoreet, augue cras suscipit praesent auctor natoque volutpat, ultrices duis curae habitasse venenatis ligula. Gravida feugiat lacus mus aptent euismod consequat vel porta, sed dictumst erat netus conubia nisi lectus, sit risus viverra ullamcorper in mollis vulputate. Ultricies nulla ligula pretium sagittis ut bibendum et curabitur diam, montes natoque phasellus ex faucibus dictumst nostra nascetur magna, consectetur sed inceptos euismod porta morbi lacus accumsan. Praesent venenatis condimentum morbi curae augue tristique luctus ex faucibus, aliquet sagittis himenaeos lectus ante volutpat ultrices ridiculus egestas suscipit, primis lacinia sapien velit vivamus placerat proin potenti.</p>

        <p>Neque dictum pretium purus posuere vulputate est potenti habitant, et volutpat inceptos blandit lorem ridiculus. Ad sed ante blandit mi elit metus senectus nullam vulputate sollicitudin massa bibendum habitasse, ligula facilisis adipiscing non ultricies orci commodo gravida sem consequat torquent. Nascetur vivamus amet non lectus lacus at aliquet vestibulum, faucibus platea ultrices torquent taciti tortor. Senectus aptent viverra nunc aliquet odio morbi a, pellentesque donec gravida bibendum inceptos tortor duis, ridiculus varius suspendisse volutpat laoreet dictum, vestibulum efficitur purus euismod interdum blandit.</p>

        <p>Tempor ultrices aliquet augue risus mi dictumst aptent magna lacinia, purus quam odio bibendum in varius lorem class, aenean euismod ultricies molestie elit sociosqu iaculis mauris. Lorem volutpat inceptos faucibus libero quam quis blandit purus magna, eros feugiat amet accumsan mattis est consectetur dapibus, porttitor condimentum bibendum dictumst auctor nibh nam sed. Est volutpat blandit per at euismod egestas quisque fringilla ac nulla, integer tincidunt conubia dignissim scelerisque sollicitudin ad mattis porta velit pellentesque, risus neque vivamus nibh vulputate faucibus turpis nam tempus. Lacinia odio leo orci mattis ac libero vitae taciti, arcu in diam scelerisque finibus cubilia rutrum ridiculus, fermentum sit pretium dis aenean morbi fusce. Magna pharetra est phasellus ullamcorper amet integer duis rutrum curae neque convallis egestas metus, sociosqu fermentum turpis aliquet senectus posuere semper arcu porttitor non tempus velit.</p>
    </section><!--main-->
</body>
</html>