<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Formulário de Login </title>
    <link rel="stylesheet" type="text/css" href="/public/css/stylecadastro.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/all.min.css" />
  </head>
  <body>
    <header>
      <div class="center">
          <div class="logo">
              <i class="fa fa-car"></i>
              <h2>WebScraping</h2>
          </div><!--logo-->
          <div class="menu">
              <a class="btn-menu" href="/">
                  Pesquisar  
              </a>
              <a href="/cadastro">
                  Entrar  
              </a>
              <a href="/ajuda">
                  Ajuda  
              </a>
              <a href="/sobre">
                  Sobre  
              </a>
          </div><!--menu-->
      </div> <!--center-->
  </header>
    <section class="main">

    </section>
    <div class="container" >
      <a class="links" id="paracadastro"></a>
      <a class="links" id="paralogin"></a>
       
      <div class="content">      
        <!--FORMULÁRIO DE LOGIN-->
        <div id="login">
          <form method="post" action=""> 
            <h1>Login</h1> 
            <p> 
              <label for="nome_login">Seu nome</label>
              <input id="nome_login" name="nome_login" required="required" type="text" placeholder="Ex: Humberto"/>
            </p>
             
            <p> 
              <label for="email_login">Sua senha</label>
              <input id="email_login" name="email_login" required="required" type="password" placeholder="Ex: Senha123" /> 
            </p>
             
            <p> 
              <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
              <label for="manterlogado">Manter-me logado</label>
            </p>
             
            <p> 
              <input type="submit" value="Logar" /> 
            </p>
             
            <p class="link">
              Ainda não tem conta?
              <a href="#paracadastro">Cadastre-se</a>
            </p>
          </form>
        </div>
   
        <!--FORMULÁRIO DE CADASTRO-->
        <div id="cadastro">
          <form method="post" action=""> 
            <h1>Cadastro</h1> 
             
            <p> 
              <label for="nome_cad">Seu nome</label>
              <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Humberto" />
            </p>
             
            <p> 
              <label for="email_cad">Seu e-mail</label>
              <input id="email_cad" name="email_cad" required="required" type="email" placeholder="contato@humbertinho.com"/> 
            </p>
             
            <p> 
              <label for="senha_cad">Sua senha</label>
              <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="ex: Senha123"/>
            </p>
             
            <p> 
              <input type="submit" value="Cadastrar"/> 
            </p>
             
            <p class="link">  
              Já tem conta?
              <a href="#paralogin"> Ir para Login </a>
            </p>
          </form>
        </div>
      </div>
    </div>  
  </body>
</html>