<html>
<head>
    <title>P&aacute;gina Inicial</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <i class="fa-solid fa-car"></i>
                <h2>WebScrapping</h2>
            </div><!--logo-->
            <div class="menu">
                <a class="btn-menu" href="#">
                    Pesquisar  
                </a>
                <a href="pesquisar.html">
                    Entrar  
                </a>
                <a href="#">
                    Ajuda  
                </a>
                <a href="#">
                    Sobre  
                </a>
            </div><!--menu-->
        </div> <!--center-->
    </header>

   
    <section class="main">
        <div class="center">
            <div class="main_cta">
                <h2>Achando o seu carro dos sonhos em segundos!</h2>
            </div>
        </div><!--center-->

    

        <div class="search-box">
            <meta charset="utf-8"/>
            <input type="text" class="search-txt" placeholder="Procure o seu pr&oacute;ximo carro">
            <a href="#" class="search-btn">
            <span style="color: #1CB5E0;">
            <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            </a>
        
        </div><!--pesquisa-->

    </section><!--main-->


    <script src="https://kit.fontawesome.com/d53a3eb424.js" crossorigin="anonymous"></script>

</body>
</html>