<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Sobre</title>
    <link rel="stylesheet" href="/public/css/sobre.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/all.min.css" />
</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <i class="fa fa-car"></i>
                <h2>WebScraping</h2>
            </div><!--logo-->
            <div class="menu">
                <a class="btn-menu" href="/">
                    Menu
                </a>

                <a href="/cadastro">
                    Entrar  
                </a>
                <a href="/ajuda">
                    Ajuda  
                </a>
                <a href="/sobre">
                    Sobre  
                </a>
            </div><!--menu-->
        </div> <!--center-->
    </header>

    <section class="main">
        <h2>Sobre</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tortor cursus facilisi a dis, habitant mauris mollis eu orci. Bibendum nibh inceptos phasellus aliquet pulvinar ex dui nascetur faucibus, sociosqu consequat eu egestas netus metus porttitor euismod, nullam sem maecenas ultrices varius tortor semper pharetra. Amet quis vel sagittis luctus inceptos et interdum per, class molestie montes magna pharetra felis habitasse, cubilia enim semper malesuada sodales justo dui. Tempus orci sit habitant consectetur habitasse interdum enim mattis, montes at magna maecenas tristique suspendisse et congue, duis ipsum dis odio proin torquent viverra. Nulla cursus nec facilisis duis nunc massa malesuada ac ullamcorper mattis felis sit scelerisque, mauris quisque bibendum faucibus eleifend mollis netus lacus litora purus primis ligula. Interdum ultrices class sociosqu venenatis dictum congue ipsum tristique luctus, adipiscing accumsan suscipit blandit diam vitae nec eu, convallis maecenas lacinia sit nunc fringilla dolor mollis. Diam consequat erat massa augue etiam maecenas nec arcu, duis ac luctus magnis volutpat feugiat porttitor condimentum pulvinar, aptent felis gravida nullam mattis ante sollicitudin. Varius porta nullam mauris amet tortor ligula fringilla auctor, mollis consequat volutpat molestie tempus vestibulum nisl condimentum nibh, tincidunt pellentesque ipsum vivamus tempor lectus orci. Elementum cubilia blandit pharetra adipiscing ut, curabitur diam porttitor conubia feugiat, aliquam tortor primis vivamus.</p>

        <p>Elementum potenti semper nunc nec sit elit egestas, mollis pharetra etiam lorem cubilia sem, duis vel orci ridiculus suspendisse pretium. Auctor mollis aliquet scelerisque id ridiculus elit inceptos augue, turpis senectus tincidunt per luctus cubilia finibus ultricies, dis porta arcu vivamus sed vehicula porttitor. In curae morbi habitant fermentum dis consectetur vivamus potenti et vehicula, aliquam tristique torquent lectus natoque lacus arcu adipiscing amet sagittis, a nunc sit semper interdum nascetur elit luctus ipsum. Rhoncus orci nostra mollis ligula pellentesque fermentum cubilia, a consectetur pulvinar dictumst vel natoque arcu porta, ex interdum eu faucibus habitant sit. Nam dui dictumst elementum senectus viverra luctus facilisi platea tempor, ex ut sociosqu quisque diam porta lorem potenti nostra, et gravida finibus vitae massa vestibulum adipiscing lacus. Praesent eleifend tincidunt interdum id dictumst ultrices, egestas sem malesuada parturient cursus sociosqu suspendisse, adipiscing urna amet tellus cubilia.</p>

    </section><!--main-->
</body>
</html>